# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      NODE_ENV: development
    volumes:
      - ./frontend:/usr/frontend/src/app
      - frontend-node-modules-data:/usr/frontend/src/app/node_modules
    command: sh -c "npm install && npm run dev"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      postgresdb:
        condition: service_healthy
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/usr/backend/src/app
    command:
      - uvicorn
      - main:app
      - --host
      - 0.0.0.0
      - --port
      - "8000"
      - --reload

  
  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      postgresdb:
        condition: service_healthy
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/usr/backend/src/app
    deploy:
      replicas: 3
    command: python -m chats.worker


  postgresdb:
    image: postgres
    restart: unless-stopped
    user: postgres
    secrets:
      - postgresdb-password
    volumes:
      - postgresdb-data:/var/lib/postgresql
      - ./backend/db_init:/docker-entrypoint-initdb.d:ro
    environment:
      - POSTGRES_USER=app
      - POSTGRES_DB=smartcollab_postgresdb
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresdb-password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    environment:
      - REDIS_PASSWORD=mysecretpassword
    volumes:
      - redis_data:/data # Maps a named volume to the Redis data directory


  pgadmin:
    image: dpage/pgadmin4
    profiles:
      - debug
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgresdb


volumes:
  redis_data:
  pgdata:
  frontend-node-modules-data:
  postgresdb-data:

secrets:
  postgresdb-password:
    file: ./backend/secrets/postgres_password.txt
  
  
  

# The commented out section below is an example of how to define a PostgreSQL
# dattabase that your applicaion can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker-compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

