@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: "PacificoRegular";
    src: url("/Fonts/Pacifico-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/Fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jersey10Regular";
    src: url("/Fonts/Jersey10-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "PoppinsRegular";
    src: url("/Fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Saman";
    src: url("/Fonts/SAMAN___.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}


@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black; /* Adjust width and color as needed */
    -webkit-text-fill-color: transparent; /* Makes the inside transparent */
  }
  .text-outline-white {
    -webkit-text-stroke: 0.1px white;
    
  }
  /* Add more variations if needed */

}



@layer components {
  .sb-scope {
    --sb-width: 10px;
    --sb-thumb: #ff00dd;
    --sb-track: transparent;
  }

  .sb-scope .simplebar-track.simplebar-vertical {
    width: var(--sb-width) !important;
  }

  .sb-scope .simplebar-scrollbar::before {
    background-color: var(--sb-thumb) !important;
    
    border-radius: 9999px;
  }

  .sb-scope .simplebar-track {
    background-color: var(--sb-track);
  }
}
